### Magento Simple ###
.modgit/*
.svn*
*.bkp
*.old
js_bkp/*
js.old/*
sitemap.xml
*.log
*.sql
*.tar.*
*.gz
*.rar
*.zip
*.bz2
*.bz
*.tgz
*.flag
*.gzip
*.tb2
*.tbz2
*.pdf
*.swm
*.swn
*.swp
*.swo
*.hta*
*.db*
Mgt
nbproject/*
.git/*
.idea/*
pkginfo/*

## ARQUIVOS ADD
*.tmp

LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
php.ini.sample
RELEASE_NOTES.txt
*.rej
composer.lock
/patches/*
*.DS_Store
